/* General Setup*/
body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
html, body {
    height: 900px;
}
/* Styling the header and menu */
.header {
    display: block;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: double;
}
img {
    height: 100px;
    width: 100px;
    padding-left: 2%;
}

h1 {
    margin: 0;
    padding-left: 2%;
    font-family: 'Montserrat', sans-serif;
}

.h1-img {
    display: flex;
    height: 100%;
    align-items: center;
}

.topnav { /* better styling tbc */
    height: 30px;
    display: flex;
    align-items: center;
}

.topnav a, .dropdown-content a {
    padding-right: 2%;
    padding-left: 2%;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}
.topnav a:hover {
    background-color: darkblue;
    color: white;
}
.active {
    background-color: grey;
    color: white;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: wheat;
}
.dropdown:hover .dropdown-content {
    display: block;
}


/* Styling the graph container */
/*#graph {
    display: block;
    height: 500px;
    width: 700px;
    border-style: dotted;
}*/

.wrapper {
    padding-left: 2%;
    width: 700px;
}

/* Footer */
footer {
    display: flex;
    height: 30px;
    background-color: cyan;
    align-items: center;
}

