/* General Setup*/
body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("../images/backgrnd.jpg");
    background-size: cover;
    background-attachment: fixed;
}

/* Styling the header and menu */
.header {
    padding-left: 20px;
    display: block;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(166, 166, 166, 0.4);
}
.header img {
    height: 100px;
    width: auto;
}

h1 {
    margin: 0;
    padding-left: 2%;
    font-family: 'Montserrat', sans-serif;
}

.h1-img {
    display: flex;
    height: 100%;
    align-items: center;
}

.topnav {
    height: 30px;
    display: flex;
    align-items: center;
}

.topnav a, .dropdown-content a {
    padding-right: 1%;
    padding-left: 1%;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: white;
}
.active {
    background-color: #595959;
    color: white;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(166, 166, 166, 0.4);
}
.dropdown:hover .dropdown-content {
    display: block;
}
.topnav a:hover, .phonenav {
    background-color: grey;
    color: white;
}
.box button, .formlogo button {
    display: inline-block;
    border: 1px solid #ffffff;
    border-radius: 0.2px;
    font-family: 'Montserrat', sans-serif;
    padding: 8px 15px 8px 15px;
    background-color: transparent;
    color: white;
}
.box button:hover , .formlogo button:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}



/* Styling the graph container */
#chartContainer {
    padding-top: 20px;
    display: block;
    height: 100%;
    width: 900px;
}
.chartWrapper {
    width: 95%;
}

.container {
    margin-top: 50px;
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 60px;
}

.container h1 {
    display: block;
    font-weight: 700;
    color: white;
    text-align: center;
    background-color: rgba(166, 166, 166, 0.6);
    padding-top: 4%;
    padding-bottom: 4%;
    margin-left: 30%;
    margin-right: 30%;
}

.box h2 {
    font-weight: 400;
    color: white;
}
.box p {
    font-family: 'Montserrat', sans-serif;
}

h2 {
    margin: 0;
    padding: 2%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.wrapper {
    padding-left: 2%;
    width: 85%;
    display: block;
    background-color: rgba(166, 166, 166, 0.4);
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 35px;

}


/* index page */
.wrapperIndex {
    padding: 2%;
    max-width: 100%;
    text-align: center;
}

.boxZone{
    display : flex;
    justify-content: space-between;
}

.box{
    text-align: center;
    background-color: rgba(166, 166, 166, 0.6);
    padding: 1%;
    justify-content: center;
    width : 40%;
    flex-direction: column;
}

.box img{
    height: auto;
    width: 360px;
    max-width: 100%;
}

.eachProfile{
    text-align: center;
    background-color: rgba(166, 166, 166, 0.6);
    padding: 1%;
    justify-content: center;
    width : 17%;
    height: 200px;
    flex-direction: column;
    margin-bottom: 35px;
}
.eachProfile img {
    height: 130px;
    width: 130px;
}

.aboutText{
    background-color: rgba(166, 166, 166, 0.6);
    padding: 1%;
    width : 50%;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
}

.aboutUpper{
    display : flex;
    justify-content: space-between;
}

.aboutDown{
    flex-direction: column;
    justify-content: space-between;
}

.profile{
    justify-content: space-between;
    display : flex;
    margin-right: 20px;
}

.formlogo{
    width : 50%;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}
.formlogo label {
    color: white;
}


.formlogo img{
    width: 200px;
    height: auto;
} 

/* Footer */
footer {
    display: flex;
    height: 20px;
    align-items: center;
}

/* Styling sub-heading */
h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

/* text under graph */
.about {
    padding-top: 3%;
    font-family: 'Montserrat', sans-serif;
}
p {
    color: white;
    font-family: 'Montserrat', sans-serif;
}
canvas {
    background-color: white;
}
#bar-chart img {
    display: block;
    margin: auto;
}

li {
    color: white;
    font-family: 'Montserrat', sans-serif;
}

h3, h4, h5 {
    font-family: 'Montserrat', sans-serif;
}
h4 {
    font-weight: 400;
}


/* Phone display */


.phonenav{
    height: 30px;
    display: flex;
    align-items: center;
    color : white;
    font-family: "Lato", sans-serif;
    margin-bottom: 10px;
    padding-bottom: 1%;
}
.phonenav-name {
    font-size: 23px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    font-family: "Lato", sans-serif;
}

.sidenav a, .phoneDropdown {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.phoneDropdown {
    background-color: transparent;
    border : transparent;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

.sidenav a:hover, .phoneDropdown:hover {
    color: #f1f1f1;
}



.fa-caret-down {
    float: right;
    padding-left: 20px;
    color : #818181;
}



.dropdownBox{
    display : none;
    background-color: #4b4b4b;
}

.dropdownBox a{
    background-color: #2e2e2e;
    padding-left: 40px;
}


@media only screen and (max-width: 500px) {
    body {
        background-attachment: scroll;
    }
    .phonenav {
        order: 1;
    }
    .h1-img {
        order: 2;
    }

    .container{
        margin-top : initial;
    }

    .header{
        padding-left : 10px;
    }

    .header img{
        height : 90px;
        width : auto;
    }
    .topnav { display: none; }

    .container{
        justify-content: initial;
    }

    .wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .profile {
        margin-right: 0;
        padding-right: 2%;
        padding-left: 2%;
    }

    #bar-chart {
        width: 100%;
    }
    .chartWrapper {
        width: 98%;
        padding-left: 1%;
    }
    .about p {
        padding-left: 1%;
    }

    .container h1{
        margin-left: 5%;
        margin-right: 5%;
    }

    .boxZone {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .box{
        width : 80%;
        margin-top : 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items : center;
        padding-bottom: 30px;

    }

    .titleImg{
        justify-content : center;
        width : 40%;
    }

    .titleImg img{
        margin-top: 10px;
    }

    .textButton{
        width : 50%;
    }

    .header h1{
        font-size: 25px;
    }
    
    .header {
        padding-left: 0;
    }
    .h1-img {
        padding-left: 10px;
    }
    



  }

@media all and (max-width: 750px) {

    .aboutUpper{
        padding-top : 30px;
        flex-direction: column;
        align-items: center;
        padding : initial;
    }

    .aboutText{
        width: 90%;
        padding-left: 10px;
        padding-right: 10px;

    }

    .profile{
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;

    }

    .eachProfile{
        text-align: center;
        width: 45%;
        flex-direction: column;
        height : 250px;
    }

    .eachProfile img{
        width: 80%;
        height: 50%;
    }

    .shortText{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .formlogo{
        justify-content: space-around;
        width: 80%;
    }
    
}

@media all and (min-width: 500px) {
    .phonenav { display: none; }
  }